/* SERIF - Cormorant */

@font-face {
    font-family: "Cormorant";
    src: url("./fonts/Cormorant/Cormorant-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Cormorant";
    src: url("./fonts/Cormorant/Cormorant-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Cormorant";
    src: url("./fonts/Cormorant/Cormorant-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Cormorant";
    src: url("./fonts/Cormorant/Cormorant-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Cormorant";
    src: url("./fonts/Cormorant/Cormorant-Bold.ttf");
    font-weight: 700;
}


/* SANS-SERIF - Montserrat */

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-Black.ttf");
    font-weight: 900;
}
