/* 1. GENERAL */

body,
html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: var(--sans-serif);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

/* Set Variables */

:root {
    --serif: "Old Standard TT";
    --sans-serif: "Montserrat";
    --dark-blue: #213242;
    --light-blue: #EDF1FE;
    --yellow: #E7B90C;
}


/* Navbar */

/* Navbar Icon */

.navbar-icon {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 50;
}

.navbar-icon:hover .bar {
    background-color: var(--yellow) !important;
}

#bar1,
#bar2,
#bar3 {
    width: 2rem;
    height: 0.25rem;
    background-color: var(--dark-blue);
    margin: 6px 0;
    transition: 0.4s;
}

.change #bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Navbar Content */

.navbar-content {
    background-color: rgba(255, 255, 255, 0.95);
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 40;
    transition: ease 0.8s;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.navbar-content img {
    width: 25rem;
    padding-bottom: 3rem;
}

.navbar-links>div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.75rem 0;
}

.navbar-links>div>a {
    font-family: var(--serif);
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 2.2rem;
    transition: ease 0.5s;
}

.navbar-links>div>a:hover {
    padding-left: 0.5rem;
    color: var(--yellow);
}

.hvr-underline-from-left:before {
    background: var(--yellow) !important;

}

.navbar-links i {
    font-size: 1.5rem;
    color: var(--yellow);
    margin-right: 1.5rem;
}


/* Custom Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--light-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--yellow);
}


/* 2. HOME PAGE */

/* Home Landing Section */

.home-landing {
    background-image: url("../images/other/home.jpg");
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-landing img {
    margin: auto;
    width: 30vw;
}

/* All Recipes Section */

.home-recipe-section,
.home-add-on-section {
    padding: 3rem 0;
}

.home-recipe-section h1,
.home-add-on-section h1 {
    color: var(--dark-blue);
    font-family: var(--serif);
    font-size: 2.6rem;
    text-align: center;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 500;
}

.home-recipe-section>.divider-line,
.home-add-on-section>.divider-line {
    width: 15%;
    height: 2.5px;
    background-color: var(--yellow);
    margin: 1rem auto;
}

.home-recipe-grid,
.home-add-on-grid {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

.home-recipe {
    text-align: center;
    cursor: pointer;
    transition: ease 0.5s;
    text-decoration: none !important;
}

.home-recipe-categories {
    display: flex;
    justify-content: space-evenly;
    padding: 2.5% 10% 0 10%;
}

.home-recipe-categories p {
    font-weight: 500;
    font-size: 1rem;
    border: 2px solid var(--dark-blue);
    border-radius: 2rem;
    padding: 3px 15px;
    background-color: var(--dark-blue);
    transition: ease 0.5s;
    color: white;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.home-recipe-categories p:hover {
    cursor: pointer;
    border: 2px solid var(--yellow);
    background-color: var(--yellow)
}

.active-recipe-cat {
    border: 2px solid var(--dark-blue) !important;
    background-color: transparent !important;
    color: var(--dark-blue) !important;
}

.home-recipe-image img {
    height: 30vh;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


.home-recipe h5 {
    color: var(--dark-blue);
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 10px;
}

.home-recipe:hover {
    transform: scale(1.025);
}

.home-recipe:hover h5 {
    color: var(--yellow);
    text-decoration: none !important;
}



/* About Section */

.about-section {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 5%;
    background-color: var(--dark-blue);
    background-attachment: fixed;
}

.about-text h1 {
    color: var(--light-blue);
    font-family: var(--serif);
    font-size: 2.6rem;
    margin: 0;
    letter-spacing: 1px;
}

.about-text .divider-line {
    width: 20%;
    height: 2.5px;
    background-color: var(--yellow);
    margin: 1rem 0;
}

.about-text p {
    color: var(--light-blue);
    font-weight: 300;
    line-height: 1.5;
    font-size: 1rem;
    padding-right: 5%;
}

.about-image {
    background-image: url("../images/other/mish.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


/* 3. RECIPE PAGE */

/* Recipe Intro */

.recipe-intro {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
}

.recipe-info {
    padding: 0 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.recipe-name {
    font-family: var(--serif);
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--dark-blue);
    margin: 0;
    padding-top: 7.5%;
}

.recipe-description {
    font-family: var(--sans-serif);
    font-weight: 500;
    font-style: italic;
    padding-right: 15%;
    padding-top: 0.5rem;
    margin: 0;
    color: var(--dark-blue);
}

.recipe-info>.divider-line {
    width: 30%;
    height: 2.5px;
    background-color: var(--yellow);
    margin: 2% 0;
}

.recipe-image {
    background-position: center center;
    background-size: cover;
    position: relative;
    transition: background-image 1s;
}

.recipe-hoop {
    height: 15vh;
    width: 100vw;
    display: none;
    border-radius: 50% 50% 0 0;
    position: absolute;
    top: -10vh;
    background-color: white;
    left: 0;
}


.recipe-arrows {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}

.recipe-arrows>div {
    background-color: rgba(33, 50, 66, 0.9);
    transition: 0.4s;
}

.recipe-arrows>div:hover {
    background-color: rgba(231, 185, 12, 0.9);
    cursor: pointer;
}

.recipe-arrows>div:hover i {
    color: var(--dark-blue);

}

.recipe-arrows i {
    color: var(--light-blue);
    padding: 0.5rem 0.8rem;
    font-size: 1.25rem;
    transition: 0.4s;
}

.image-order {
    margin: 0 2px;
    color: var(--light-blue);
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    transition: 0.4s;
}

.recipe-serving {
    display: block;
    margin-top: 1.5rem;
}

.recipe-serving p {
    background-color: var(--dark-blue);
    display: inline-block;
    padding: 0.5rem 2rem;
    color: var(--light-blue);
    margin: 0;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
}

.recipe-stats {
    display: flex;
    text-align: center;
    margin-top: 5%;
}

.recipe-stats>div {
    padding: 0 5%;
    border-right: 1px solid var(--yellow);
}

.recipe-stats>div>i {
    color: var(--yellow);
    font-size: 1.75rem;
    padding-bottom: 0.5rem;
}

.recipe-stats>div:nth-child(1) {
    padding-left: 0;
}

.recipe-stats>div:nth-child(1) p {
    font-weight: 500;
}

.recipe-stats>div:last-child {
    border-right: none;
}

.recipe-stats p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

.recipe-stats h6 {
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    color: var(--dark-blue);
}

.recipe-ingredients-grid {
    padding-top: 5%;
}

.ingredient {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    transition: 1s;
}

.ingredient:hover {
    transform: scale(1.05);
}

.ingredient-image {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    box-shadow: 5px 5px 15px 5px #e0e0e0;
}

.ingredient-name {
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0 1rem;
    text-align: center;
}

.ingredient-sub-heading {
    color: var(--light-blue);
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-align: center;
    -moz-text-decoration-color: var(--yellow);
    margin-top: 3rem;
}

.ingredients-list>a {
    color: var(--light-blue);
    text-decoration: none;
    text-align: center !important;
    display: block;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.ingredients-list>a:hover {
    color: var(--yellow);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.ingredient-arrows {
    display: flex;
    justify-content: center;

}

.ingredient-arrows>i {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--yellow);
    padding: 5px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
}

.ingredient-arrows>i:hover {
    color: white;
    background-color: var(--yellow);
}

/* Recipe Method */

.recipe-method {
    width: 100vw;
    display: grid;
    grid-template-columns: 40% 60%;
}

.recipe-method-ingredients {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
}

.recipe-method h1 {
    color: var(--light-blue);
    font-family: var(--serif);
    font-size: 3rem;
    text-align: center;
    margin: 0;
    letter-spacing: 1px;
}

.method-sub-heading {
    color: var(--dark-blue);
    font-family: var(--serif);
    font-size: 2rem;
    letter-spacing: 1px;
}


.recipe-method .divider-line {
    width: 30%;
    height: 2.5px;
    background-color: var(--yellow);
    margin: 1rem auto;
}

.serving-suggestion h2 {
    color: var(--dark-blue);
    font-family: var(--serif);
    font-size: 2rem;
    text-align: center;
    margin: 0;
    margin-top: 1.5rem;
    letter-spacing: 1px;
}

.serving-suggestion {
    text-align: center;
}

.serving-suggestion p {
    font-style: italic;

}

.ingredients-list {
    margin: 0;
}

.ingredients-list div {
    color: var(--light-blue);
    margin: 1rem;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    transition: 0.7s;
}

.ingredients-list div:hover img {
    transform: rotate(180deg);
}

.ingredients-list div:hover p {
    padding-left: 0.5rem;
}

.ingredients-list div p {
    display: inline;
    margin: 0;
    transition: 0.7s;
}

.ingredients-list div img {
    width: 1.75rem;
    margin-right: 0.8rem;
    transition: 0.5s ease;
}

.ingredients-list span {
    font-weight: 600;
    margin-right: 0.5rem;
}

.recipe-method-steps {
    /* background-color: rgba(237, 241, 254, 0.5); */
    padding: 5rem 2rem;
}

.recipe-method-steps h1 {
    color: var(--dark-blue);
}

.recipe-method-steps .divider-line {
    width: 15%;
}

.recipe-method-steps ul {
    list-style: none;
}

.recipe-method-steps div span {
    color: var(--dark-blue);
    font-weight: 600;
    margin-right: 1rem;
    /* text-decoration: underline;
    text-decoration-color: var(--yellow); */
    border-left: 3px solid var(--yellow);
    padding-left: 0.5em;

}

.recipe-method-steps-list {
    padding-top: 1rem;
}

.recipe-method-steps-list p {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    margin: 0;

}



/* FOOTER */

footer {
    background-color: var(--dark-blue);
    padding: 0.5rem 5%;
}

footer p {
    color: var(--light-blue);
    text-align: center;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

footer p a {
    color: var(--light-blue);
    font-weight: 400;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

footer p a:hover {
    color: var(--yellow);
}




/* ----------------- */

/* 404 PAGE */

.section-404 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/other/home.jpg");
    background-size: cover;
    background-position: center center;
}

.section-404>div {
    padding: 0 5%;
    color: var(--dark-blue);
}

.section-404 h2 {
    font-size: 7rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 2rem 0;
}

.section-404 p {
    font-weight: 600;
    font-size: 1.2rem;
}