/* Set Variables */

:root {
    --serif: "Cormorant";
    --sans-serif: "Montserrat";
    --dark-blue: #213242;
    --light-blue: #EDF1FE;
    --yellow: #E7B90C;
}

@media screen and (max-width: 1200px) {
    /* home Page */

    .home-recipe-grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 5% 5%;
        column-gap: 5%;
    }

    .home-recipe-image {
        width: 20vh;
        height: 20vh;
    }

    .home-landing img {
        width: 37.5vw;
    }

}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 768px) {

    /* home Page */

    .home-landing img {
        width: 45vw;
    }

    .home-landing,
    .section-404 {
        background-image: url("../images/other/home-mobile.jpg");
        background-position: center center;
        background-size: cover;
    }

    .navbar-icon .bar {
        background-color: var(--yellow) !important;
    }

    .home-recipe-grid,
    .home-add-on-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 5% 5%;
        row-gap: 1rem;
    }

    .about-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
        text-align: center;
        padding: 10% 5%;
        row-gap: 1rem;
    }

    .about-text .divider-line {
        margin: 1rem auto;
        width: 50%;
    }

    /* Recipe Page */

    .recipe-intro {
        display: block;
        height: auto;
    }

    .recipe-image {
        height: 60vh;
        border-radius: 0;
        width: 100vw;
        z-index: -2;
    }

    .recipe-arrows {
        display: none;
    }

    .recipe-info {
        padding: 10% 5% 7.5% 5%;
        display: block;
        /* width: 100vw; */
        flex-direction: unset;
        text-align: center;
    }

    .recipe-info>.divider-line {
        margin: 3% auto;
        width: 50%;
    }

    .recipe-description {
        padding: unset;
        padding-top: 3%;
    }

    .recipe-info h1 {
        padding-top: 0;
    }

    .recipe-method {
        grid-template-columns: 1fr;
    }

    .recipe-method>div {
        padding: 10% 5%;
    }

    .recipe-stats {
        justify-content: center;
        padding: 10% 0;
        margin: 0;
    }

    .recipe-ingredients {
        padding: 0;
    }

    .recipe-hoop {
        display: block;
        z-index: -1;
    }

    /* navbar */

    .navbar-content img {
        width: 50%;
        padding-bottom: 1.5rem;
    }

    .navbar-links>div {
        margin-left: -1.75rem;
    }

}

@media screen and (max-width: 576px) {

    /* home Page */



    .home-landing img {
        width: 60vw;
    }

    .home-recipe-grid,
    .home-add-on-grid {
        grid-template-columns: 1fr;
        padding: 5% 5%;
        row-gap: 1rem;
    }

    .home-recipe-image {
        width: 25vh;
        height: 25vh;
    }

    .recipe-stats {
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 2rem;
    }

    .recipe-stats>div:nth-child(2) {
        border-right: none;
    }

    .recipe-info>.divider-line {
        margin: 5% auto;
    }

    .recipe-info h1,
    .recipe-method h1 {
        font-size: 2.5rem;
    }

    .home-recipe-categories {
        flex-wrap: wrap;
        padding: 2.5% 5%;
    }

    .home-recipe-categories p {
        margin: 3% 5%;
    }


    /* 404 Page */

    .section-404 p {
        font-size: 1rem;
    }

    .section-404>div {
        padding: 0 10%;
    }
}